.table-container {
  display: flex;
  gap: 20px;
}
table {
  border: 1px solid black;
}
th {
  width: 170px;
  border: 1px solid black;
}
td {
  height: 100px;
}
.selected {
  background-color: aqua;
}
.allselected {
  background-color: coral;
}
